
.colorfooter{
    background-color: map-get($map:$paleta, $key:'cuatro');		
    background-image: linear-gradient(160deg, #1200e9 0%, #80D0C7 100%);
    }

    h3{
    width: 100%;
    height: 5vh;
    text-align: center;
}
.mediacontainer {
    width: 100%;
    height: 10vh;
    text-align: center;
}
//map/*
$paleta:(
    'uno':#7CB9E8 ,
    'dos': #00308F,
    'tres': #002D62 ,
    'cuatro':#1200e9,
    'cinco':#13274F ,
    'seis': #EF0107,
    'siete': #E23D28,
    'ocho': #C6011F,
    'nueve': #E9967A,
    'diez': #A51C30,
);
